// $headings-font-family: Garamond;
// $body-bg: #FFEABE;
$navbar-light-color: #F28F8F;
$primary: #F28F8F; // Button color
// $link-hover-color: darken($primary, 15%);
$link-color: $primary;
$link-color: darken($link-color, 15%);
$font-family-base: Garamond;
$light: #FFEA8E; // Nav background color

body {
    padding-top: 65px;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

@import '~bootstrap/scss/bootstrap.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";
