// $headings-font-family: Garamond;
// $body-bg: #FFEABE;
$navbar-light-color: #F2BFBF;
$primary: #F2BFBF;
$link-hover-color: darken($primary, 15%);
$font-family-base: Garamond;

body {
    padding-top: 65px;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

@import '~bootstrap/scss/bootstrap.scss';