// $headings-font-family: Garamond;
$body-bg: #f8f9fa;
$navbar-light-color: black;
$navbar-light-hover-color: #F28F8F;
$navbar-light-active-color: #F28F8F;
$primary: #F28F8F; // Button color
$font-family-base: Garamond;
$light: #FFEA8E; // Nav background color

body {
    padding-top: 65px;
}

.btn {
    color: black;
}

@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

@import '~bootstrap/scss/bootstrap.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";
