$headings-font-family: Garamond;
$body-bg: #FFEABE;
$primary: #F2BFBF;
$bg-color: #FFEABE;
$link-hover-color: darken($primary, 15%);
$custom-select-font-family: Garamond;

@import '~bootstrap/scss/bootstrap.scss';